<div>
    <h2>{{title}}</h2>
    <form action="{{authPath}}" method="POST">
        <label for="email">email</label>
        <input type="email" name="email" id="email">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <button type="submit">{{btnText}}</button>
    </form>
    <h2>{{error}}</h2>
</div>